body > main {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr auto;
    grid-template-rows: auto 1fr;	
	grid-template-areas:
	    "player player global-actions"
	    "browser playlist playlist-actions";	
}

.player-panel { 
	grid-area: player; 
    overflow-y: hidden;
}
.global-actions-panel { grid-area: global-actions; }
.playlist-panel { grid-area: playlist; }
.browser-panel { grid-area: browser; }
.playlist-actions-panel { grid-area: playlist-actions; }

.browser-panel, .playlist-panel {
    overflow-y: auto;
}

.global-actions-panel > div, .playlist-actions-panel > div {
	display: flex;
	flex-direction: column; /* stack items vertically */
	gap: 1rem; /* optional spacing between items */	
}

@media (max-width: 900px) {
    body > main {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr auto 1fr;
        grid-template-areas:
            "player global-actions"
            "playlist playlist"
            "playlist-actions playlist-actions"
            "browser browser";
    }
}