body {
    margin: 0;
    font-family: Arial, sans-serif;
}

section {
    padding: 10px;	
}

h1 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 1.5em;
}

.global-actions-panel, .playlist-actions-panel {
	background: #ececec;
}

.player-panel {
    
    background: #f5f5f5;
	border-right: 1px solid #ccc;
}

.browser-panel {
	border-top: 1px solid #ccc;
}
.playlist-panel {
	border: 1px solid #ccc;
}

#track-title {
	margin-left: 5px;
}

.transport-controls {
	margin-top: 4px;
}


.item-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-list li {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
    border: 1px solid transparent;
    margin-right: 8px;
}


.item-list li:active {
    background: #cce0ff;
}

.item-list li:nth-child(even) {
    background: #fafafa;
}

.item-list li:hover {
    background: #e6f0ff;
    border-color: #a0c4ff;
}

.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  border: 2px #A4000F solid;
  background: #F8D5DB;
  color: #A4000F;
  padding: 12px 20px;
  border-radius: 6px;
  font-family: sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  
  opacity: 0;
  transition: all 0.25s ease;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}